body{background:#1a1a1a;color:#9a9a9a;}
.thin>h2>a[href*="series.php"]:after,.torrent_info_row .bbcode-table-guard a{color:#9a9a9a}
a:hover,a.simple-tabs__link:hover,#wrapper .alert-bars a:hover,#header .new-subscriptions a:hover{color:#f7f7f7}
td a,#header .alertbar a:hover,.forum_post a:hover,.torrent_info_row .linkbox a.linkbox__link{color:#f7f7f7}
tr.inbox-message--unread td a:hover,tr.unreadpm a:hover{color:#f7f7f7}
#series tr.group_torrent.discog td a.season[href*="torrents.php?id"]:hover{color:#f7f7f7!important}
.forum_list h3{background:#373737;}
.signature{border-top:1px dashed rgba(121,121,121,0.5);}
td,form.search_form,.box.pad,#blog .box,.box.thin.clear{background:#262626}
.toggleable-search-form__toggler-container,thead th,.box.filter_torrents .head,.colhead td,.forum-post__heading,.colhead_dark td,tr.colhead,tr.colhead_dark,#inbox .box .head,#inbox .box .head,#reply_box h3,#inbox form .send_form #quickpost h3,#blog .head{background:#373737;color:#9a9a9a;border-bottom:2px solid #1a1a1a}
div#quickreplytext,#user .main_column table[cellpadding="0"]{background:#262626}
#staffpm form#messageform,#staffpm #inbox h3,h3,h2{background:inherit;color:inherit;border:inherit;}
#inbox .box{background:#262626;}
div#latest5.pad .head.colhead_dark{border-top:2px solid #1a1a1a}
.group td{background:#222}
td{border-bottom:1px solid #2b2b2b}
.holder{background:#1a1a1a}
.js-basic-movie-list__table-body>tr.basic-movie-list__details-row{border-color:#1a1a1a}
.ui-tabs,div.ui-tabs-vertical{background:#262626!important;}
.ui-tabs .ui-tabs-nav li.ui-state-default,div.ui-tabs-vertical .ui-tabs-nav li.ui-state-default{background:#323334!important}
tr.group td[colspan="2"] a[href*="torrents.php?id"]:hover{color:#f7f7f7}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border:1px solid #4c4c4c!important;}
.box.news_post,.huge-movie-list__movie{background:#262626}
#menu,.main-menu{background:#1d1d1d;background:rgba(0,0,0,0.6);border:1px solid transparent;}
#userinfo_minor a,#menu ul>li>a,.main-menu ul>li>a{color:#fff}
#menu:hover,.main-menu:hover{background:rgba(0,0,0,0.9)}
#userinfo_minor{background-color:rgba(0,0,0,0.7);}
#header div#searchbars,#header div.search-bar{background:#131313;}
div#ft_container{background:#262626}
blockquote{border:1px dashed rgba(121,121,121,0.5)}
.box.torrent_description{}
span[style="color: grey;"]{color:#333!important}
.box.torrent_description{background:#222;color:#9a9a9a}
form.search_form input{border:1px solid transparent;}
form.search_form input{background:#333;color:#5a5a5a;border:1px solid transparent;}
select{border:1px solid transparent;}
select{background:#333;color:#adadad;border:1px solid transparent;}
form.search_form input:hover,select:hover{background:#1f1f1f;color:#f7f7f7;border:1px solid #444}form.search_form input:focus,select:focus{background:#1f1f1f;color:#f7f7f7;border:1px solid #444}
#inbox input[type="search"]{color:inherit}
#userinfo .subnav{background:#1f1f1f}
input[type="submit"],input[type="button"],a.huge-movie-list__movie__title,a.huge-movie-list__movie__director{color:#f7f7f7;}
input[type="submit"]:hover,input[type="submit"]:focus,input[type="button"]:hover,input[type="button"]:focus{color:#f7f7f7;background-color:#555;}
a.basic-movie-list__movie__tag,.huge-movie-list__movie__tag-list a,a.cover-movie-list__movie__tag,.movie-tooltip__tag,#taglist tr td a,.tags a,.sidebar .stats.nobullet a{background:#1f1f1f;color:#9a9a9a;}
#taglist tr td a:hover,.huge-movie-list__movie__tag-list a:hover,a.basic-movie-list__movie__tag:hover,a.cover-movie-list__movie__tag:hover,a.cover-movie-list__movie__tag:focus,#taglist tr td a:focus,.tags a:hover,.tags a:focus,.sidebar .stats.nobullet a:hover,.sidebar .stats.nobullet a:focus,.movie-tooltip__tag:hover{background:#333;color:#f4f4f4}
.toggleable-search-form__toggler-container,.main_column .box .head.colhead_dark,.box.news_post .head,.main-column .box .head.colhead_dark,.box.news_post .head,.forum-post__heading{border-bottom:1px solid #2b2b2b;}
.sidebar .stats.nobullet a.brackets{background:inherit!important;color:inherit;}
.box_info .stats.nobullet li a:hover{background:inherit;color:#313131;}
.qtip-content{background:#191919;background:rgba(0,0,0,0.9);}
.qtip-content:hover{background:#191919;background:rgba(0,0,0,0.9);}
.panel__heading,.sidebar .box .head,.main_column .box .head.colhead_dark,.box.news_post .head,tr.colhead,tr.colhead_dark,.head.colhead_dark,.main_column .box .head,.sidebar .box .head,.main-column .box .head.colhead_dark,.box.news_post .head,tr.colhead,tr.colhead_dark,.head.colhead_dark,.main-column .box .head{border-bottom:1px solid #2b2b2b;}
td.read:before{color:#6d6d6d}
td.read_sticky:before{color:#ababab}
td.read_locked:before{color:#333;color:#ababab}
td.read_locked_sticky:before{color:#ababab}
.submit.ft_submit span{color:#555}
form.search_form input[type="submit"]:hover,form.search_form input[type="button"]:hover{background:#555;color:#f4f4f4;}
form.search_form input[type="submit"],form.search_form input[type="button"]{color:#f4f4f4;}
.group_info>a:nth-child(2n):hover,.group_info>a:nth-child(3n):hover,span.movie-tooltip__rating__title, span.movie-tooltip__rating__title a,#header a.new-subscriptions:hover{color:#f7f7f7}
#index .sidebar .stats.nobullet a{background:inherit;}
#index .sidebar .stats.nobullet a:hover,#index .sidebar .stats.nobullet a:focus{color:inherit}
.forum_post a:focus,td.basic-movie-list__torrent-edition,.forum_post .postcontent a:hover{color:#f7f7f7}
.toggleable-search-form__toggler-container a,.box.filter_torrents .head a,.forum_post .colhead a,.forum-post__heading a,.forum_post .colhead_dark a,#inbox .box .head a,tbody.js-basic-movie-list__table-body a[href*="torrents.php?id"].basic-movie-list__movie__title:hover,table.torrent_table.grouping.table.table--panel-like.table--bordered.basic-movie-list.js-basic-movie-list thead a:hover{color:#f7f7f7}
.sidebar form.search_form{background:inherit}
#inbox .box .body,#inbox .box #buttons .field_div.textarea_wrap{background:#262626}
.lightbox img{background-color:transparent;}
.curtain{background:#111 50% 0 no-repeat fixed;}
textarea,input{background-color:#b5b5b5;}
input[type="text"],input[type="email"]{margin:1px}
.noty_message,ul#noty_bottomRight_layout_container li,.noty_buttons{background-color:#262626;background:#262626!important;color:#9a9a9a!important;}
li#searchbar_torrents:first-of-type form:before,div#searchbars ul li:first-of-type form:before,div.search-bar ul li:first-of-type form:before{background:transparent;background-color:transparent;color:#717171}
div#searchbars,div#searchbars ul,div#searchbars ul li,div.search-bar form,div.search-bar,div.search-bar ul,div.search-bar ul li,div.search-bar form{background:transparent;background-color:transparent}
textarea[name="comment"],input[name="subject"],textarea[name="body"],input[type="text"],input[type="file"]{background:#333;color:#969696;border:1px solid transparent!important}
tbody.js-basic-movie-list__table-body a[href*="torrents.php?id"],h2 small a, .user-info-bar, .search-bar__search-field__input, .cover-movie-list__movie__tag, .movie-tooltip__tag,.huge-movie-list__movie__tag-list a,a.cover-movie-list__movie__tag, .basic-movie-list__movie__tag, .page__title a, .linkbox a, .torrent-info-link, .movie-tooltip__rating__title>a, .movie-tooltip__tag,#index .panel__heading__title a,table.torrent_table.grouping.table.table--panel-like.table--bordered.basic-movie-list.js-basic-movie-list thead a,.huge-movie-list__movie__tag-list a{color:#969696}
textarea[name="comment"]:hover,input[name="subject"]:hover,textarea[name="body"]:hover,input[type="text"]:hover{background:#1f1f1f;color:#f7f7f7;border:1px solid #444!important}
textarea[name="body"]:focus,textarea[name="comment"]:focus,input[name="subject"]:focus,input[type="text"]:focus{background:#1f1f1f;color:#f7f7f7;border:1px solid #444!important}
.autocomplete-suggestions strong,#index .panel__heading__title a:hover,table#torrent_table strong{color:#f7f7f7}
.autocomplete-suggestions{background:#131313;color:#9a9a9a;}
.autocomplete-selected{background:#222!important;color:#9a9a9a;background-color:#1f1f1f!important}
div.noty_bar{border:1px solid #444}
.filter_torrents .box.pad{background:#262626}
span.r99,.r09,.r10,.r20,.r30,.r40,.r50{color:#3c9454}
.alertbar,.forum-post__avatar-and-body,.cover-movie-list__movie{background:#262626;}
.hide_torrents{width:28px;height:28px;background:url(../img/hide.png) no-repeat center center;-moz-opacity:.5;opacity:.5;filter:alpha(opacity=50);background-size:10px 10px}
.show_torrents{width:28px;height:28px;background:url(../img/show.png) no-repeat center center;-moz-opacity:.5;opacity:.5;filter:alpha(opacity=50);background-size:10px 10px}
.colhead td,.forum-post__heading,.colhead_dark td,#inbox .box .head,.box.filter_torrents .head,#reply_box h3,tr .colhead_dark td,.sidebar .box .head,.main_column .box .head.colhead_dark,.box.news_post .head,tr.colhead,tr.colhead_dark,.head.colhead_dark,.main_column .box .head{}
.toggleable-search-form__toggler-container,thead th,.forum-post__heading,.panel__heading,.box.filter_torrents .head,.colhead td,.colhead_dark td,tr.colhead,tr.colhead_dark,#inbox .box .head,#inbox .box .head,#reply_box h3,#inbox form .send_form #quickpost h3,.sidebar .box .head,.main_column .box .head.colhead_dark,.box.news_post .head,tr.colhead,tr.colhead_dark,.head.colhead_dark,.main_column .box .head{background:#373737;color:#9a9a9a;border-bottom:2px solid #1a1a1a;}
.panel__body,.sidebar .box,.news_post .pad,.main_column .box,.main_column2 .box,#scontent .box,.sidebar .box,.news_post .pad,.main-column .box,.main-column2 .box,#scontent .box{background:#262626}
div.pad#threadpoll{background:#262626;}
div.pad#threadpoll p strong,.group_torrent strong{color:#f7f7f7;}
a[href*="torrents.php?id"]:hover, table#torrent_table a[href*="torrents.php?torrentid"] strong:hover{color:#f7f7f7}
.thin h2,.thin h3,#content h2{color:#d0d0d0}
#staff .box.pad{background:transparent!important}
#wrapper pre, #wrapper blockquote{color:#9a9a9a}
#content .thin div[style="height:140px;"]{background-color:#262626}
span[style="color: red;"],strong.important_text,strong[style="color: red;"],table#torrent_table strong.tl_reported,.r00,.tl_reported{color:#bf2727!important}
span[style="color: yellow;"]{color:#b39770!important}
span[style="color: aqua;"]{color:#89c6ca!important}
span[style="color: green;"]{color:#3c9454!important}
td[colspan="3"] a[href*="torrents.php?id"],.torrent_row a[onclick*=toggle],.torrent_row.group_torrent.discog a[href*="torrents.php?id="],table.torrent_table tr.group_torrent a[onclick*=toggle]{color:#969696;}
td[colspan="3"] a[href*="torrents.php?id"]:hover,.torrent_row a[onclick*=toggle]:hover,.torrent_row.group_torrent.discog a[href*="torrents.php?id="]:hover,table.torrent_table tr.group_torrent a[onclick*=toggle]:hover{color:#f7f7f7}
.ui-widget-content a{color:#f7f7f7!important}
a.permission_2,.permission_2{color:#FFFFFF;}
a.permission_3,.permission_3{color:#bec2cc;}
a.permission_4,.permission_4{color:#4aac85;}
a.permission_5,.permission_5{color:#5ecea6;}
a.permission_24,.permission_24{color:#78dfaf;}
a.permission_7,.permission_7{color:#97ecb0;}
a.permission_33,.permission_33{color:#b7f8af;}
a.permission_43,.permission_43{color:#cdffae!important;}
a.permission_28,.permission_28{color:#fbde6e;}
a.permission_35,.permission_35{color:#fbd567;}
a.permission_37,.permission_37{color:#fac55f;}
a.permission_6,.permission_6{color:#f9b35e;}
a.permission_9,.permission_9{color:#f8a45d;}
a.permission_8,.permission_8{color:#f7995b;}
a.permission_32,.permission_32{color:#d71a41;}
a.permission_29,.permission_29{color:#cf0e4a;}
a.permission_34,.permission_34{color:#c40056;}
a.permission_30,.permission_30{color:#be005d;}
a.permission_11,.permission_11{color:#4be0d5;}
a.permission_14,.permission_14{color:#41c7bd;}
a.permission_36,.permission_36{color:#3cb7b5;}
a.permission_1,.permission_1{color:#35a3ac;}
a.permission_42,.permission_42{color:#2e8fa3;}
a.permission_15,.permission_15{color:#29829d;}
a.permission_31,.permission_31{color:#3f3}
a.permission_26,.permission_26{color:#4be0d5;}
a.permission_38,.permission_38{color:#9933FF;}
a.permission_10,.permission_10{color:#FFFF66;}
a.permission_12,.permission_12{color:#CC0000;}
a.permission_13,.permission_13{color:#996666;}
a.permission_22,.permission_22{color:#FF7100;}
a.permission_25,.permission_25{color:#660033;}
a.permission_27,.permission_27{color:#00FFCC;}
.r00{color:#be015d;}
.r01{color:#c2105e;}
.r02{color:#c92860;}
.r03{color:#d04162;}
.r04{color:#d85f64;}
.r05{color:#e17e67;}
.r06{color:#e89a69;}
.r07{color:#f0b66b;}
.r08{color:#f6cd6d;}
.r09{color:#fbde6e;}
.r10{color:#4aac85;}
.r20{color:#69c291;}
.r50{color:#96e1a2;}
.r99{color:#b6f7af;}
.tor_highlight_seed{color:#93d4a2!important;}
.tor_highlight_leech{color:#fbde6e!important;}
.tor_highlight_snatch{color:#d71a41!important;}
.TS{color:#be005d;}
.MP4{color:#f7995b;}
.MKV{color:#d71a41;}
.AVI{color:#fbd567;}
.M4V{color:#ff6e00;}
.MPEG{color:#ff0050;}
.Internal{color:#cdffae;}
.None,.\0D\0D\0D{color:#cf0e4a;}
.P2P{color:#35a3ac;}
.Scene{color:#4be0d5;}
.User{color:#ffffff;}
.ratio-10, .ratio-20, .ratio-50, .ratio-infinite, .bonus-point-history--received, .snatchlist-status--seeding, .snatchlist-status--not-hnr, .encoding-history-status--finished, .missing-torrent-status--exists, .torrent-info-link--user-downloaded{color:#41a85f;}
.ratio-00,.ratio-01,.ratio-02,.ratio-03,.ratio-04,.bonus-point-history--sent,.no-seeders,.snatchlist-status--not-seeding,.snatchlist-status--hnr,.encoding-history-status--expired,.missing-torrent-status--missing,.torrent-info__reported,.torrent-info-link--user-leeching,.alert--error,.forum-post__id--staff-post{color:#d14841;}
.ratio-05,.ratio-06,.ratio-07
.snatchlist-status--removed-hnr,.encoding-history-status--canceled,.missing-torrent-status--trumpable,.torrent-info__trumpable{color:#f37934;}
.ratio-08,.ratio-09,.torrent-info-link--user-seeding{color:#f7da64;}
.ratio-10,.ratio-20,.ratio-50,.ratio-infinite,.bonus-point-history--received,.snatchlist-status--seeding,.snatchlist-status--not-hnr,.encoding-history-status--finished,.missing-torrent-status--exists,.torrent-info-link--user-downloaded{color:#41a85f;}
a.torrent-info-link--user-snatched{color:#2c82c9;}
a.torrent-info-link--user-uploaded{color:#9365b8;}
.mediainfo, .movie-page__torrent-report-description,.tabs__bar__item--active>.tabs__bar__link, .tabs__bar__item--active>.tabs__bar__link:hover, .tabs__bar__item--active>.tabs__bar__link:active, .tabs__bar__item--active>.tabs__bar__link:focus{border-color:#373737;}
.tabs__bar__list{border-color:#1a1a1a}
.search-bar__results,ul#torrentscomplete,ul#artistcomplete{background:#1f1f1f}
ul#torrentscomplete li a,ul#artistcomplete li a{padding:4px 3px}
.search-bar__results a{border-bottom: 1px solid rgba(78, 78, 78, 0.31)}
a.simple-tabs__link.simple-tabs__link--active,a[href*="#last5gp_table"]:hover,tbody.js-basic-movie-list__table-body a[href*="torrents.php?id"]:hover{color:#f7f7f7}
a[href*="#last5gp_table"],.golden-popcorn-character{color:#efc662}
.bbcode-toolbar__button{border:4px solid #ddd;}
div#Bbcode_Toolbar,.bbcode-toolbar__button{background:#ddd}
.basic-movie-list__movie__rating-container,.movie-tooltip__ratings div{background:#3e3e3e;}
.bbcode-toolbar__button:hover{background-color:#bbb;}
.basic-movie-list__movie__rating-container:hover{background:#1f1f1f;}
.torrent_info_row>td{background:#2b2b2b}
.alert-bar{border-top:2px solid #1a1a1a}
.linkbox.pager a,.linkbox a strong{color:#f7f7f7}
a.tabs__bar__link{color:#969696;}
a.tabs__bar__link{border-color:#373737!important;}
li.tabs__bar__item.tabs__bar__item--active, li.tabs__bar__item.tabs__bar__item--active a{background:#373737;color:#f7f7f7!important;}
a.tabs__bar__link{background:#262626;}
.tabs__bar__list{background:#373737;}
a.tabs__bar__link:hover{background:#373737;color:#f7f7f7;}
li.tabs__bar__item.tabs__bar__item--active a:hover{background:transparent!important;}
.torrent_info_row>td{border-top:2px solid #1a1a1a;border-bottom:2px solid #1a1a1a}
[style="color:#007fff"]{color:#708ab3!important;}
[style="color:red"]{color:#b37070!important;}
.movie-tooltip__action-row{border-color:#333!important}
a[style="color:lightgreen;margin:0px;padding:0px;"]:hover{color:#f7f7f7!important}
a[style="color:lightgreen;margin:0px;padding:0px;"],.tl_free{color:#3c9454!important;}
/*span.user_title span{color:#969696!important;}*/
span.user_title strong{font-weight:normal!important}
span.user_title{color:#969696!important}